fieldset {
  border: 1px solid lightgrey;
}
label {
  display: block;
  position: relative;
  clear: both;
}
#container {
  margin: 0 auto 0 auto;
  padding: 0;
}
#inputs {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
#inputs legend {
  display: none;
}
#inputs label {
  display: inline;
  padding: 0;
  margin: 0;
}
#inputs label .label {
  display: none;
}
#inputs input[type=text],
#inputs input[type=password] {
  font-size: 125%;
  box-sizing: border-box;
  padding: 0.5em;
}
#result {
  font-size: 200%;
  margin: 1em auto;
  padding: 0;
  width: 100%;
  height: 2em;
  position: relative;
  display: block;
  box-sizing: border-box;
  background-color: #ffd675;
  border: 0.1em solid #ffc642;
}
#result input {
  font-family: monospace;
  font-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  border: 0;
  margin: 0;
  padding: 0.25em;
  background-color: transparent;
}
#result input[type=text] {
  color: transparent;
}
#result input[type=text]::selection {
  color: transparent;
}
#result input[type=text]::-moz-selection {
  color: transparent;
}
#settings {
  border: 0;
  padding: 0;
  margin: 4em 1em 1em 1em;
}
#settings legend {
  display: none;
}
#settings fieldset {
  border: 0;
  margin: 0;
  padding: 1em 0 0 0;
}
#settings #characters {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
#settings #allowed > label > span.label {
  display: none;
}
#settings #allowed ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
#settings #allowed ul li {
  margin: 0 1em 0 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}
#settings #allowed ul li:last-child {
  margin: 0;
}
#settings #allowed ul li label {
  margin: 0;
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 48em) {
  #container {
    width: 48em;
  }
  #inputs input {
    width: 47.5%;
    margin: 0.5em 0;
  }
  #inputs input[type=password] {
    margin-left: 4%;
  }
}
@media screen and (max-width: 47.99em) {
  #container {
    width: 100%;
  }
  #inputs input {
    width: 100%;
    margin: 0.5em 0;
  }
}
